<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>

        <li>
          <a href="https://github.com/YassineAlalou">
             Github
          </a>
        </li>

      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script><i class="material-icons">favorite</i>
      <a href="http://www.emsi.ma" target="_blank">EMSI Marrakech</a> 2020
    </div>
  </div>
</footer>
