<body class="">
<app-sidebar></app-sidebar>
<div class="wrapper ">
  <div class="main-panel">
    <!-- Navbar -->
    <app-header></app-header>
    <!-- End Navbar -->
    <div class="content">

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Informations du medecin</h4>
              <p class="card-category">Svp entrer votre informations</p>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-5">

                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Nom</label>
                      <input type="text" name="nom" id="nom" class="form-control" [(ngModel)]="medecin.nom">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Prenom</label>
                      <input type="text" name="prenom" id="prenom" class="form-control"[(ngModel)]="medecin.prenom">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Specialite</label>
                      <input type="text" name="specialite" id="specialite" class="form-control" [(ngModel)]="medecin.specialite">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Adresse du Cabinet</label>
                      <input type="text" name="adresse" id="adresse" class="form-control" [(ngModel)]="medecin.adresse">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Autres Informations</label>
                      <input type="textarea" name="infos" id="infos" class="form-control" [(ngModel)]="medecin.infos">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                  </div>
                </div>
                <p></p>
                <button type="submit" class="btn btn-outline-primary pull-left" (click)="ajouterMedecin($event)">Ajouter</button>
                <button type="reset" class="btn btn-outline-warning pull-left">Annuler</button>
                <button type="submit" class="btn btn-outline-light pull-left" data-toggle="modal" data-target="#profil">Profil</button>
                <div class="clearfix"></div>

              </form>
            </div>
          </div>
        </div>

        <!-- Informations d'un profil -->

        <div class="modal fade" id="profil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Votre Profil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <ul class="list-group" *ngFor="let element of medecins">
                <li class="list-group-item active">{{element?.nom}} {{element?.prenom}}</li>
                <li class="list-group-item">Adresse :  {{element?.adresse}}</li>
                <li class="list-group-item">Specialite :  {{element?.specialite}}</li>
                <li class="list-group-item">Plus d'infos :  {{element?.infos}}</li>
                <button type="button" rel="tooltip" title="Modifier medicament" (click)="editerMedecin(element?.id)" class="btn btn-primary btn-link btn-sm" data-toggle="modal" data-target="#updatemedicament">
                  <i class="material-icons">edit</i>
                </button>
              </ul>

              <div class="modal-body" *ngIf="editer">
                <form>
                  <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control  rounded-0" id="nom"
                           placeholder="Le Nom" name="nom" [(ngModel)]="medecin.nom">
                  </div>

                  <div class="form-group">
                    <label for="prenom">Prenom</label>
                    <input type="text" class="form-control rounded-0" name="prenom" id="prenom"
                           placeholder="Le Prenom" [(ngModel)]="medecin.prenom">
                  </div>

                  <div class="form-group">
                    <label for="specialite">Specialite</label>
                    <input type="text" class="form-control  rounded-0" id="specialite"
                           placeholder="la Specialite" name="quantite" [(ngModel)]="medecin.specialite">
                  </div>

                  <div class="form-group">
                    <label for="adresse">Adresse</label>
                    <input type="text" class="form-control  rounded-0" id="adresse"
                           placeholder="le nom du document" name="adresse" [(ngModel)]="medecin.adresse">
                  </div>

                  <div class="form-group">
                    <label for="infos">Informations supp</label>
                    <input type="text" class="form-control  rounded-0" id="infos"
                           placeholder="Infos" name="infos" [(ngModel)]="medecin.infos">
                  </div>

                  <button type="button"  class="btn btn-primary" *ngIf="editer" (click)="validerModification()">Save changes</button>


                </form>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- end infos -->
      </div>

    </div>
    <app-footer></app-footer>
  </div>
</div>

<!--   Core JS Files   -->

</body>



