
<body class="">
<app-sidebar></app-sidebar>
<div class="wrapper ">
  <div class="main-panel">
    <!-- Navbar -->
    <app-header></app-header>
    <!-- End Navbar -->

    <div class="content">


      <div class="tim-typo">
        <p class="text-primary">
          Trouver les rendez-vous par date :
        </p>
      </div>

      <div class="input-group no-border">
        <input type="date" value="" class="form-control" placeholder="Search..." [(ngModel)]="con.dater" >
        <button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="FindByDater(con.dater)">
          <i class="material-icons">search</i>
          <div class="ripple-container"></div>
        </button>
      </div>

      <ul class="list-group" *ngFor="let element of rdvdater">
        <li class="list-group-item active"><h6>{{element?.user?.nom}} {{element?.user?.prenom}}</h6> </li>
        <li class="list-group-item">Le Motif : {{element?.motif}}</li>
        <li class="list-group-item">Le Diagnostic : {{element?.diagnostic}}</li>
        <li class="list-group-item">Le Prix : {{element?.price}}</li>
        <li class="list-group-item">Le type : {{element?.typeConsultation?.libelle}}</li>
        <li class="list-group-item"><button type="submit" (click)="editConsultation(element?.id)" class="btn btn-outline-primary pull-left" data-toggle="modal" data-target="#diagnostica">Add Diagnostic</button>
          <button type="submit" class="btn btn-outline-danger pull-left" *ngIf="element?.id != undefined"
                  (click)="delete(element?.id)" >Supprimer</button>
        </li>
      </ul>

      <div class="modal fade" id="diagnostica" tabindex="-1" role="dialog"
           aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <form>

                <div class="form-group">
                  <label for="diagnostic">Nouveau Diagnostic</label>
                  <input type="text" class="form-control  rounded-0" id="diagnostic"
                         placeholder="Diagnostic " name="diagnostic" [(ngModel)]="con.diagnostic">
                </div>

                <div class="form-group">
                  <label for="price"> Nouveau Prix</label>
                  <input type="number" class="form-control  rounded-0" id="price"
                         placeholder="Le Prix du consultation" name="price" [(ngModel)]="con.price">
                </div>
                <div class="form-group">
                  <label for="typea">Type Consultation</label>
                  <select class="form-control" id="typea" name="type" [(ngModel)]="con.typeConsultation">
                    <option *ngFor="let tp of types" [ngValue]="tp">{{tp.libelle}}</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" *ngIf="editer" (click)="validerModification()">
                Save diagnostic
              </button>
            </div>
          </div>
        </div>
      </div>



      <div class="row">

        <!-- Informations d'un profil -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Historique des Consultations</h4>
              <p class="card-category"></p>
            </div>
            <div class="card-body" *ngIf="cons">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                  <th>Date de Consultation</th>
                  <th>Motif</th>
                  <th>Diagnostic</th>
                  <th>Prix</th>
                  <th>Nom du Patient</th>
                  <th>Type Consultation</th>
                  <th>Actions</th>
                  <tbody *ngFor="let element of cons">
                  <tr>
                    <td>{{element?.dater}}</td>
                    <td>{{element?.motif}}</td>
                    <td>{{element?.diagnostic}}</td>
                    <td>{{element?.price}}</td>
                    <td class="text-primary">
                      {{element?.user?.nom}} {{element?.user?.prenom}}
                    </td>
                    <td>{{element?.typeConsultation?.libelle}}</td>
                    <td>
                      <button type="button" rel="tooltip" title="Modifier Consultation"
                              (click)="editConsultation(element?.id)" class="btn btn-primary btn-link btn-sm"
                              data-toggle="modal" data-target="#updatecons">
                        <i class="material-icons">edit</i>
                      </button>
                      <button type="button" rel="tooltip" title="Supprimer Consultation"
                              class="btn btn-danger btn-link btn-sm" *ngIf="element?.id != undefined"
                              (click)="delete(element?.id)">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                  <tbody>
                  </tbody>
                </table>

                <div class="modal fade" id="updatecons" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="dater">Date de consultation</label>
                            <input type="date" class="form-control  rounded-0" id="dater"
                                   placeholder="date De consultation" name="dater" [(ngModel)]="con.dater">
                          </div>

                          <div class="form-group">
                            <label for="motif">Nouveau Motif</label>
                            <input type="text" class="form-control rounded-0" name="motif" id="motif"
                                   placeholder="Motif" [(ngModel)]="con.motif">
                          </div>

                          <div class="form-group">
                            <label for="diagnostic">Nouveau Diagnostic</label>
                            <input type="text" class="form-control  rounded-0" id="diagnostic"
                                   placeholder="Diagnostic " name="diagnostic" [(ngModel)]="con.diagnostic">
                          </div>

                          <div class="form-group">
                            <label for="price"> Nouveau Prix</label>
                            <input type="number" class="form-control  rounded-0" id="price"
                                   placeholder="Le Prix du consultation" name="price" [(ngModel)]="con.price">
                          </div>
                          <div class="form-group">
                            <label for="typea">Type Consultation</label>
                            <select class="form-control" id="typea" name="type" [(ngModel)]="con.typeConsultation">
                              <option *ngFor="let tp of types" [ngValue]="tp">{{tp.libelle}}</option>
                            </select>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" *ngIf="editer" (click)="validerModification()">
                          Save changes
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>


        <!-- end infos -->
      </div>


    </div>
    <app-footer></app-footer>
  </div>
</div>

<!--   Core JS Files   -->

</body>





