<body class="">
<app-sidebar></app-sidebar>
<div class="wrapper ">
  <div class="main-panel">
    <!-- Navbar -->
    <app-header></app-header>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Ajouter un Compte</h4>
                <p class="card-category">Svp entrer les information du Secretaire</p>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-5">

                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Login</label>
                        <input type="text" name="login" id="login" class="form-control" [(ngModel)]="user.username">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Password</label>
                        <input type="password" name="password" id="password" class="form-control" [(ngModel)]="user.password">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Confirm Password</label>
                        <input type="password" name="confirm" id="confirm" class="form-control" [(ngModel)]="user.repassword">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Nom</label>
                        <input type="text" name="nom" id="nom" class="form-control" [(ngModel)]="user.nom">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Prenom</label>
                        <input type="text" name="prenom" id="prenom" class="form-control" [(ngModel)]="user.prenom">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Numero de Telephone</label>
                        <input type="text" name="tel" id="tel" class="form-control" [(ngModel)]="user.Tel">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Age</label>
                        <input type="number" name="age" id="age" class="form-control" [(ngModel)]="user.Age">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">

                    </div>
                  </div>
                  <p></p>
                  <button type="submit" class="btn btn-outline-primary pull-left" (click)="ajouterUser($event)">Ajouter</button>
                  <button type="reset" class="btn btn-outline-warning pull-left">Annuler</button>
                  <div class="clearfix"></div>

                </form>
              </div>
            </div>
          </div>
        <div class="row">

          <!-- Informations d'un profil -->
          <div class="card-body">
          <div class="col-md-4">
            <div class="card card-profile">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="../assets/img/faces/marc.jpg" />
                </a>
              </div>
              <div class="card-body">
                <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                <h4 class="card-title">Alec Thompson</h4>
                <p class="card-description">
                  Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                </p>

                <button type="reset" class="btn btn-outline-danger pull-left">Supprimer</button>
                <button type="reset" class="btn btn-outline-dark pull-left">Modifier</button>


              </div>
            </div>
          </div>
        </div>
        </div>
          <!-- end infos -->
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>

<!--   Core JS Files   -->

</body>
