<body class="">
<app-sidebar></app-sidebar>
<div class="wrapper ">
  <div class="main-panel">
    <!-- Navbar -->
    <app-header></app-header>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Ajouter un Compte Secretaire</h4>
                <p class="card-category">Svp entrer les information du Secretaire</p>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-5">

                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Login</label>
                        <input type="text" name="login" id="login" class="form-control" [(ngModel)]="user.username">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Password</label>
                        <input type="password" name="password" id="password" class="form-control" [(ngModel)]="user.password">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Confirm Password</label>
                        <input type="password" name="confirm" id="confirm" class="form-control" [(ngModel)]="user.repassword">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Nom</label>
                        <input type="text" name="nom" id="nom" class="form-control" [(ngModel)]="user.nom">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Prenom</label>
                        <input type="text" name="prenom" id="prenom" class="form-control" [(ngModel)]="user.prenom">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Numero de Telephone</label>
                        <input type="text" name="tel" id="tel" class="form-control" [(ngModel)]="user.Tel">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Age</label>
                        <input type="number" name="age" id="age" class="form-control" [(ngModel)]="user.Age">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">

                    </div>
                  </div>
                  <p></p>
                  <button type="submit" class="btn btn-outline-primary pull-left" (click)="ajouterUser($event)">Ajouter</button>
                  <button type="reset" class="btn btn-outline-warning pull-left">Annuler</button>
                  <div class="clearfix"></div>

                </form>
              </div>
            </div>
          </div>




          <!-- Informations d'un profil -->
          <div class="card-body" *ngIf="users"  >
          <div class="col-md-12" >
            <div class="card card-profile"*ngFor="let element of users">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="../assets/img/faces/marc.jpg" />
                </a>
              </div>
              <div class="card-body">
                <h2>{{ element?.nom }}  {{ element?.prenom }}  <span class="badge badge-secondary"> Role {{ element?.roles?.libelle }}</span></h2>
                <h4 class="card-title"> {{ element?.username }} </h4>
                <p class="card-description">
                  L'age  :  {{ element?.age }}   |   Le numero de telephone est : {{ element?.tel }}
                </p>

                <button type="reset" class="btn btn-outline-danger pull-left" *ngIf="element?.id != undefined" (click)="deleteUser(element?.id)">Supprimer</button>
                <button type="reset" class="btn btn-outline-info pull-left" (click)="editerUser(element.id)" data-toggle="modal" data-target="#updatedoc">Modifier</button>



                <div class="modal fade" id="updatedoc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter les modifications</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>

                          <div class="form-group">
                            <label for="login"> Nouveau Login</label>
                            <input type="text" class="form-control  rounded-0" id="login"
                                   placeholder="Username" name="login" [(ngModel)]="user.username">
                          </div>

                          <div class="form-group">
                            <label for="password">Nouveau Password</label>
                            <input type="password" class="form-control rounded-0" name="password" id="password"
                                   placeholder="Password" [(ngModel)]="user.password">
                          </div>

                          <div class="form-group">
                            <label for="confirm">Confirm password</label>
                            <input type="password" class="form-control rounded-0" name="confirm" id="cf"
                                   placeholder="Confirm" [(ngModel)]="user.repassword">
                          </div>

                          <div class="form-group">
                            <label for="nom"> Nouveau Nom</label>
                            <input type="text" class="form-control  rounded-0" id="nom"
                                   placeholder="le nom du document" name="nom" [(ngModel)]="user.nom">
                          </div>

                          <div class="form-group">
                            <label for="prenom"> Nouveau Prenom</label>
                            <input type="text" class="form-control  rounded-0" id="prenom"
                                   placeholder="le nom du document" name="prenom" [(ngModel)]="user.prenom">
                          </div>

                          <div class="form-group">
                            <label for="tel"> Nouveau Numero de Telephone</label>
                            <input type="text" class="form-control  rounded-0" id="tel"
                                   placeholder="le num de tel" name="tel" [(ngModel)]="user.Tel">
                          </div>

                          <div class="form-group">
                            <label for="age"> Nouveau Age</label>
                            <input type="text" class="form-control  rounded-0" id="age"
                                   placeholder="l'age" name="age" [(ngModel)]="user.Age">
                          </div>

                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" *ngIf="editer" (click)="validerModification()">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>

          <!-- end infos -->
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>

<!--   Core JS Files   -->

</body>
