<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-3.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <a [routerLink]="['/adminhome']" class="simple-text logo">
      Cabinet Medical
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item  ">
        <a class="nav-link" routerLink="/adminhome">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link" [routerLink]="['/medecin']">
          <i class="material-icons">person</i>
          <p>Medecin</p>
        </a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link" [routerLink]="['/comptes']">
          <i class="material-icons">people_alt</i>
          <p>Gestion des Comptes</p>
        </a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link" [routerLink]="['/type']">
          <i class="material-icons">code</i>
          <p>Gestion des Types</p>
        </a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link" [routerLink]="['/consultation']">
          <i class="material-icons">content_paste</i>
          <p>Gestion des Consultations</p>
        </a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link" [routerLink]="['/medicament']">
          <i class="material-icons">add_box</i>
          <p>Gestion des Medicaments</p>
        </a>
      </li>


    </ul>
  </div>
</div>

