<body class="">
<app-sidebar3></app-sidebar3>
<div class="wrapper ">
  <div class="main-panel">
    <!-- Navbar -->
    <app-header></app-header>
    <!-- End Navbar -->
    <div class="content">


        <kendo-scheduler [kendoSchedulerBinding]="events"
                         [selectedDate]="selectedDate"
                         scrollTime="08:00"
                         style="height: 600px;">


          <kendo-scheduler-month-view>
          </kendo-scheduler-month-view>

          <kendo-scheduler-timeline-view>
          </kendo-scheduler-timeline-view>

          <kendo-scheduler-agenda-view>
          </kendo-scheduler-agenda-view>
        </kendo-scheduler>



      </div>
    </div>
    <app-footer></app-footer>
  </div>


<!--   Core JS Files   -->

</body>
