<body class="">
<app-sidebar2></app-sidebar2>
<div class="wrapper ">
  <div class="main-panel">
    <!-- Navbar -->
    <app-header></app-header>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">

        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title ">Liste des comptes des patients</h4>
                    <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body" *ngIf="patients">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                        <th>Username</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Age</th>
                        <th>Telephone</th>
                        <th>Actions</th>
                        <tbody *ngFor="let element of patients">
                        <tr>
                          <td>{{element?.username}}</td>
                          <td>{{element?.nom}}</td>
                          <td>{{element?.prenom}}</td>
                          <td>{{element?.age}}</td>
                          <td class="text-primary">
                            {{element?.tel}}
                          </td>
                          <td>
                            <button type="button" rel="tooltip" title="Activer le compte" class="btn btn-primary btn-link btn-sm">
                              <i class="material-icons">edit</i>
                            </button>
                            <button type="button" rel="tooltip" title="Supprimer le compte" class="btn btn-danger btn-link btn-sm">
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                        <tbody>


                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>




      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>

<!--   Core JS Files   -->

</body>
